* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Nekst";
  src: url("/fonts/Nekst-Black.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Nekst";
  src: url("/fonts/Nekst-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Nekst";
  src: url("/fonts/Nekst-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nekst";
  src: url("/fonts/Nekst-Regular.woff2") format("woff2");
  font-weight: 400;
}
.menu-plan__btns-draw span,
.menu-plan__btns .menu-plan__btns-favorite span,
.menu-plan__btns .menu-plan__btns-scales span, .cart span,
.star span,
.scales span {
  font-family: "Nekst";
  font-weight: 900;
}

.catalogy__slide-title, .footer-contacts__social-texts-text, .footer-contacts__menu-item-text, .footer-contacts__menu-item-title, .top__text, .menu-plan__item-title, .header-scroll__menu-item-link, .number-details__texter,
.number-details--scroll__texter, .number-details__text,
.number-details--scroll__text, .number-details__title,
.number-details--scroll__title, .catalog__cart-item-link, .catalog__item-link-title, .menu__item-link {
  font-family: "Nekst";
  font-weight: 500;
}

.catalogy__btn, .catalogy__title, .footer-inform__menu-item-link, .top__btn, .top__title, .menu-plan__cat-back-title, .menu-plan__btns-draw-title,
.menu-plan__btns .menu-plan__btns-favorite-title,
.menu-plan__btns .menu-plan__btns-scales-title, .menu-plan__back-title, .number-details__btn,
.number-details--scroll__btn, .catalog__cart-list-type-title, .catalog__second-text, .catalog__title, .header__num-btn-title,
.header__num--scroll-btn-title {
  font-family: "Nekst";
  font-weight: 700;
}

.footer-bottom__title, .footer-contacts__social-texts-title, .footer-inform__title, .header__input, body {
  font-family: "Nekst";
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(254, 254, 255);
  color: rgb(20, 20, 20);
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 10px;
}

.container-header {
  position: relative;
}

.open--menu {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.open {
  opacity: 1 !important;
  visibility: visible !important;
}

.dropdown {
  position: relative;
}

.dropdown__list {
  display: none;
  position: absolute;
  z-index: 5;
}

.dropdown__list-item {
  list-style: none;
}

.dropdown__list--visible {
  display: block;
}

.dialog {
  position: relative;
}

.dialog__content {
  display: none;
  position: absolute;
  z-index: 5;
}

.dialog__content--visible {
  display: block;
}

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.active {
  color: rgb(247, 117, 42);
}

.scroll {
  display: none !important;
}

.scroll__input {
  margin-left: 0 !important;
}

.scroll__btns {
  margin-left: clamp(1rem, -2.375rem + 6vw, 2.5rem);
}

.shadow {
  box-shadow: 0px 0px 1px 0px rgba(97, 112, 125, 0.04), 0px 2px 6px 0px rgba(97, 112, 125, 0.04), 0px 10px 20px 0px rgba(97, 112, 125, 0.04);
}

.catalog-height {
  max-height: none !important;
}

.dialog.active {
  display: flex;
}

.no-scroll {
  overflow: hidden;
}

.active-slider {
  color: rgb(254, 254, 255) !important;
  background-color: rgb(247, 117, 42) !important;
}

.header {
  background-color: rgb(254, 254, 255);
}
.header__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1300px;
  width: 100%;
  padding: 0 10px 10px 10px;
  margin: 0 auto;
  background-color: rgb(254, 254, 255);
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  z-index: 80;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: clamp(0.625rem, -4.1875rem + 7vw, 1.5rem);
  padding: 16px 0;
}
.header__input {
  margin-left: clamp(1rem, -2.375rem + 6vw, 2.5rem);
  width: 100%;
  padding: 16px 0 16px 24px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 28px;
  border: 2px solid rgb(223, 226, 229);
  background-color: rgba(254, 254, 255, 0.1);
}
.header__details {
  display: flex;
  align-items: center;
  gap: clamp(0.5625rem, -0.1375rem + 1.4vw, 1rem);
}

.cart,
.star,
.scales {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid rgb(247, 117, 42);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cart svg path,
.star svg path,
.scales svg path {
  fill: rgb(247, 117, 42);
}
.cart span,
.star span,
.scales span {
  position: absolute;
  top: 65%;
  left: 65%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.4;
  color: rgb(254, 254, 255);
  background-color: rgb(247, 117, 42);
  border-radius: 50%;
  border: 2px solid rgb(247, 117, 42);
  transition: all 0.3s ease;
}

.cart:hover,
.star:hover,
.scales:hover {
  background-color: rgb(247, 117, 42);
}
.cart:hover svg path,
.star:hover svg path,
.scales:hover svg path {
  fill: #fff;
}
.cart:hover span,
.star:hover span,
.scales:hover span {
  color: rgb(247, 117, 42);
  background-color: rgb(254, 254, 255);
}

.header__bottom {
  background-color: rgba(97, 112, 125, 0.05);
  border-radius: 28px;
}
.header__bottom-details {
  display: flex;
  align-items: center;
  gap: clamp(0.625rem, -2.7307rem + 6.4378vw, 2.5rem);
  padding-right: clamp(0.625rem, -2.7307rem + 6.4378vw, 2.5rem);
}

.menu__list {
  display: flex;
  align-items: center;
  gap: clamp(1.5625rem, -1.6174rem + 5.0676vw, 2.5rem);
}
.menu__item {
  list-style: none;
}
.menu__item-link {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  transition: all 0.3s ease;
}
.menu__item-link:hover {
  color: rgb(247, 117, 42);
}

.header__num,
.header__num--scroll {
  margin-left: auto;
  position: relative;
  min-width: 200px;
}
.header__num-btn,
.header__num--scroll-btn {
  display: flex;
  align-items: center;
  gap: 13px;
  border: none;
  background-color: transparent;
}
.header__num-btn-title,
.header__num--scroll-btn-title {
  color: rgb(247, 117, 42);
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.header__num-btn--scroll {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.catalog__btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgb(247, 117, 42);
  border-radius: 28px;
  padding: 16px clamp(0.625rem, -2.7307rem + 6.4378vw, 2.5rem);
  cursor: pointer;
}
.catalog__title {
  color: rgb(254, 254, 255);
  font-size: 16px;
  line-height: 1.2;
}

.catalog__dialog {
  position: fixed;
  left: 0;
  right: 0;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.catalog__inner {
  display: flex;
  gap: clamp(1.5625rem, -1.6174rem + 5.0676vw, 2.5rem);
}
.catalog__first {
  padding: 16px;
  background: #F6F7F8;
  border-radius: 24px;
  min-width: 271px;
  max-height: 620px;
}

.catalog__list {
  padding: 16px 0;
  border-bottom: 2px solid rgba(97, 112, 125, 0.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog__list:first-child {
  padding-top: 0;
}
.catalog__list:last-child {
  padding-bottom: 0;
}
.catalog__item {
  list-style: none;
}
.catalog__item:hover .catalog__item-link-title {
  color: rgb(247, 117, 42);
}
.catalog__item.active .catalog__item-link-title {
  color: rgb(247, 117, 42);
}
.catalog__item-link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.catalog__item-link-img {
  padding: 12px;
}
.catalog__item-link-title {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
}

.catalog__second {
  padding: 16px;
  background: #F6F7F8;
  border-radius: 24px;
}
.catalog__second-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
  border-bottom: 2px solid rgba(223, 226, 229, 0.2);
}
.catalog__second-text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: rgb(20, 20, 20);
}
.catalog__carts {
  padding-top: 8px;
}
.catalog__cart {
  display: flex;
  gap: clamp(2.5rem, -24.6351rem + 43.2432vw, 10.5rem);
}
.catalog__cart-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog__cart-list-type {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 18px;
}
.catalog__cart-list-type-title {
  font-size: 24px;
  line-height: 1.2;
  color: rgb(97, 112, 125);
}
.catalog__cart-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog__cart-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
.catalog__cart-item:hover .catalog__cart-item-link {
  color: rgb(247, 117, 42);
}
.catalog__cart-item-link {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  padding: 8px 0;
}

.catalog__dialog {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.number-details,
.number-details--scroll {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
  left: clamp(-4rem, 14.8395rem - 23.6486vw, -4.375rem);
  top: 56px;
  z-index: 6;
  width: 302px;
  background-color: #F6F7F8;
  border-radius: 24px;
  padding: 16px;
}
.number-details__menu,
.number-details--scroll__menu {
  padding-left: 17px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
.number-details__inner,
.number-details--scroll__inner {
  list-style: none;
  display: flex;
  align-items: center;
  gap: clamp(1.0625rem, -2.3294rem + 5.4054vw, 2.0625rem);
}
.number-details__desc,
.number-details--scroll__desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.number-details__title,
.number-details--scroll__title {
  font-size: 14px;
  line-height: 1.1428571429;
  color: rgb(97, 112, 125);
}
.number-details__text,
.number-details--scroll__text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
}
.number-details__btn,
.number-details--scroll__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(247, 117, 42);
  color: rgb(254, 254, 255);
  background-color: rgb(247, 117, 42);
  padding: 19px 0;
  border-radius: 28px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 48px;
  transition: all 0.3s ease;
}
.number-details__btn:hover,
.number-details--scroll__btn:hover {
  color: rgb(247, 117, 42);
  background-color: rgb(254, 254, 255);
}
.number-details__network,
.number-details--scroll__network {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}
.number-details__item,
.number-details--scroll__item {
  list-style: none;
}
.number-details__texter,
.number-details--scroll__texter {
  text-align: center;
  font-size: 14px;
  line-height: 1.1428571429;
  color: rgb(97, 112, 125);
}

.header__bottom {
  display: block;
}

.header__plan-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  gap: 4px;
  background-color: transparent;
  border: none;
  transition: all 0.3s ease;
}
.header__plan-btn span {
  display: block;
  width: 14px;
  height: 2px;
  background-color: rgb(20, 20, 20);
  border-radius: 2px;
}

.header-scroll__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-scroll__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  min-width: 56px;
  border-radius: 50%;
  border: 2px solid rgb(247, 117, 42);
  background-color: transparent;
  color: rgb(247, 117, 42);
  transition: all 0.3s ease;
}
.header-scroll__btn span,
.header-scroll__btn svg {
  fill: currentColor;
}
.header-scroll__btn:hover {
  background-color: rgb(247, 117, 42);
  color: rgb(254, 254, 255);
}
.header-scroll__btn-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.header-scroll__btn-menu span {
  display: block;
  width: 14px;
  height: 2px;
  background-color: rgb(247, 117, 42);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.header-scroll__btn-menu:hover span {
  background-color: rgb(254, 254, 255);
}

.header-scroll__btns {
  position: relative;
}

.header-scroll__menu {
  position: absolute;
  top: 120%;
  left: 0;
  min-width: 184px;
  padding: 16px;
  background-color: #F6F7F8;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header-scroll__menu-item {
  list-style: none;
}
.header-scroll__menu-item-link {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  transition: all 0.3s ease;
}
.header-scroll__menu-item-link:hover {
  color: rgb(247, 117, 42);
}

.menu-plan {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 834px;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 16px;
  background-color: rgb(254, 254, 255);
  z-index: 90;
}
.menu-plan__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px 0;
}
.menu-plan__back {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  background-color: rgb(252, 47, 30);
  width: 100%;
}
.menu-plan__back-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.menu-plan__back-title {
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 1.2;
  color: rgb(254, 254, 255);
  text-transform: capitalize;
}
.menu-plan__items {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px 0;
}
.menu-plan__item {
  list-style: none;
  padding: 9px 0;
  display: flex;
  align-items: center;
  gap: 32px;
}
.menu-plan__item-title {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  transition: all 0.3s ease;
}
.menu-plan__item:hover .menu-plan__item-title {
  color: rgb(247, 117, 42);
}
.menu-plan__input {
  margin: 0 16px;
  width: 95%;
  padding: 16px 0 16px 24px;
  border-radius: 28px;
  border: 2px solid rgb(223, 226, 229);
  transition: all 0.2s ease;
}
.menu-plan__input:hover {
  border: 2px solid rgba(223, 226, 229, 0.2);
}
.menu-plan__btns {
  width: 100%;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.menu-plan__btns-draw,
.menu-plan__btns .menu-plan__btns-favorite,
.menu-plan__btns .menu-plan__btns-scales {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
  min-height: 48px;
  padding: 0 16px;
  background-color: rgb(254, 254, 255);
  border: 2px solid rgb(247, 117, 42);
  color: rgb(247, 117, 42);
  border-radius: 24px;
  transition: all 0.3s ease;
  opacity: 0.15;
}
.menu-plan__btns-draw svg,
.menu-plan__btns .menu-plan__btns-favorite svg,
.menu-plan__btns .menu-plan__btns-scales svg {
  fill: currentColor;
}
.menu-plan__btns-draw span,
.menu-plan__btns .menu-plan__btns-favorite span,
.menu-plan__btns .menu-plan__btns-scales span {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.4;
  color: rgb(247, 117, 42);
  background-color: rgba(247, 117, 42, 0.15);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.menu-plan__btns-draw-title,
.menu-plan__btns .menu-plan__btns-favorite-title,
.menu-plan__btns .menu-plan__btns-scales-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
}
.menu-plan__btns-draw:hover,
.menu-plan__btns .menu-plan__btns-favorite:hover,
.menu-plan__btns .menu-plan__btns-scales:hover {
  background-color: rgb(247, 117, 42);
  color: rgb(254, 254, 255);
}
.menu-plan__btns-draw:hover span,
.menu-plan__btns .menu-plan__btns-favorite:hover span,
.menu-plan__btns .menu-plan__btns-scales:hover span {
  color: rgb(254, 254, 255);
  background-color: rgba(254, 254, 255, 0.25);
}

.menu-plan__cat {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 834px;
  height: 100vh;
  margin: 0 auto;
  padding-bottom: 16px;
  background-color: rgb(254, 254, 255);
  z-index: 100;
}
.menu-plan__cat-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.menu-plan__cat-back {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px;
  background-color: rgb(252, 47, 30);
  width: 100%;
}
.menu-plan__cat-back-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
}
.menu-plan__cat-back-title {
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 1.2;
  color: rgb(254, 254, 255);
  text-transform: capitalize;
}
.menu-plan__cat-item {
  padding-left: 10px;
}

.consul {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(97, 112, 125, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.consul__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 16px;
  background-color: rgb(254, 254, 255);
  border-radius: 24px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.2);
}
.consul__title {
  max-width: 408px;
  width: 100%;
  font-weight: 700;
  font-size: 32px;
}
.consul__details {
  display: flex;
  align-items: center;
  gap: 16px;
}
.consul__text {
  max-width: 314px;
  width: 100%;
}
.consul__inputs {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.consul__input {
  padding: 17px 0 17px 24px;
  max-width: 200px;
  width: 100%;
  border-radius: 28px;
  border: none;
  outline: none;
  background-color: rgba(254, 254, 255, 0.1);
  border: 2px solid rgb(223, 226, 229);
  font-size: 16px;
  line-height: 1.5;
}
.consul__btn {
  padding: 18px 0;
  border-radius: 28px;
  border: 2px solid rgb(247, 117, 42);
  background-color: rgb(247, 117, 42);
  color: rgb(254, 254, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.consul__btn:hover {
  background-color: rgb(254, 254, 255);
  color: rgb(247, 117, 42);
}
.consul__exit {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: -15%;
  transition: all 0.3s ease;
}
.consul__exit:hover {
  transform: translateY(-2px);
}

.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .header__details,
  .header-scroll__btns {
    gap: clamp(0.1875rem, -3.4688rem + 6.5vw, 1rem);
  }
}
@media (max-width: 1000px) {
  .number-details {
    left: clamp(-4rem, 14.8395rem - 23.6486vw, -4.375rem);
  }
}
@media (max-width: 975px) {
  .number-details {
    left: clamp(-5rem, 14.8395rem - 23.6486vw, -4.375rem);
  }
}
@media (max-width: 950px) {
  .number-details {
    left: clamp(-6rem, 14.8395rem - 23.6486vw, -4.375rem);
  }
}
@media (max-width: 940px) {
  .menu__item-link {
    font-size: 14px;
  }
  .header__num-btn-title {
    font-size: 14px;
  }
  .catalog__title {
    font-size: 15px;
  }
  .scroll__btns {
    margin-left: 0;
  }
  .cart,
  .star,
  .scales {
    width: 40px;
    height: 40px;
  }
  .header-scroll__btn {
    min-width: 40px;
    min-height: 40px;
  }
  .logo__img {
    width: 200px;
  }
}
@media (max-width: 834px) {
  .header__bottom {
    display: none;
  }
  .header__inner {
    padding: 0;
  }
  .header__input {
    display: none;
  }
  .header__plan-btn {
    display: flex !important;
  }
  .header__details {
    display: none;
  }
  .header__phone {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
  .header__num--scroll {
    display: none;
  }
  .header-scroll__btns {
    display: none;
  }
}
@media (max-width: 590px) {
  .menu-plan__item {
    display: flex !important;
  }
  .menu-plan__btns-scales--hidden {
    display: none !important;
  }
  .menu-plan__items {
    padding: 0 8px;
  }
}
@media (max-width: 414px) {
  .logo__img {
    max-width: 188px;
  }
}
.top {
  background-image: url("/img/top/top.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 111px 0;
}
.top__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}
.top__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.top__title {
  max-width: 855px;
  font-size: 64px;
  line-height: 1.2;
  color: rgb(254, 254, 255);
  text-transform: capitalize;
}
.top__text {
  max-width: 632px;
  font-size: 24px;
  line-height: 1.1666666667;
  color: rgb(254, 254, 255);
  text-transform: capitalize;
}
.top__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 72px;
  padding: 0 40px;
  background-color: rgb(247, 117, 42);
  border: 2px solid rgb(247, 117, 42);
  border-radius: 36px;
  box-shadow: 0px 0px 1px 0px rgba(97, 112, 125, 0.04), 0px 2px 6px 0px rgba(97, 112, 125, 0.04), 0px 10px 20px 0px rgba(97, 112, 125, 0.04);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  color: rgb(254, 254, 255);
  transition: all 0.3s ease;
}
.top__btn:hover {
  background-color: rgb(254, 254, 255);
  color: rgb(247, 117, 42);
}

@media (max-width: 834px) {
  .top__title {
    max-width: 598px;
    font-size: 64px;
  }
  .top__text {
    max-width: 393px;
    font-size: 24px;
  }
}
@media (max-width: 593px) {
  .top {
    padding: 24px 0 40px 0;
    padding-top: 100px !important;
  }
  .top__title {
    max-width: 304px;
    font-size: 32px;
  }
  .top__text {
    max-width: 356px;
    font-size: 16px;
  }
  .top__inner {
    justify-content: space-between;
    gap: 383px;
  }
}
.footer {
  padding: 48px 0;
  background-color: rgb(20, 20, 20);
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(254, 254, 255, 0.25);
}
.footer-inform {
  max-width: 411px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.footer-inform__title {
  font-size: 22px;
  line-height: 1.1818181818;
  letter-spacing: 0.3333333333em;
  color: rgb(254, 254, 255);
}
.footer-inform__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.footer-inform__menu-item {
  list-style: none;
  width: 100%;
}
.footer-inform__menu-item-link {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(254, 254, 255);
}
.footer-contacts__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-contacts__item-title {
  padding-bottom: 8px;
}
.footer-contacts__menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-contacts__menu-item {
  list-style: none;
}
.footer-contacts__menu-item-link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-contacts__menu-item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: rgba(254, 254, 255, 0.1);
  border-radius: 50%;
  color: rgb(254, 254, 255);
}
.footer-contacts__menu-item-svg svg {
  fill: currentColor;
}
.footer-contacts__menu-item-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-contacts__menu-item-title {
  font-size: 14px;
  line-height: 1.1428571429;
  color: rgba(254, 254, 255, 0.6);
}
.footer-contacts__menu-item-text {
  max-width: 346px;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(254, 254, 255);
}
.footer-contacts__map {
  width: 100%;
  height: auto;
}
.footer-contacts__map-img {
  width: 100%;
  height: auto;
}
.footer-contacts__social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-contacts__social-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.footer-contacts__social-texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.footer-contacts__social-texts-title {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(254, 254, 255);
}
.footer-contacts__social-texts-text {
  max-width: 399px;
  font-size: 14px;
  line-height: 1.1428571429;
  color: rgba(254, 254, 255, 0.6);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom__title {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(254, 254, 255);
}

.social {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.hidden1 {
  display: none;
}

@media (max-width: 834px) {
  .footer-contacts__menu-item-link {
    display: flex;
    flex-direction: column;
    text-align: start;
  }
  .footer-contacts__menu-item-svg,
  .footer-contacts__menu-item-texts {
    margin-right: auto;
  }
  .hidden1 {
    display: block;
  }
  .hidden2 {
    display: none;
  }
}
@media (max-width: 620px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    gap: 47px;
  }
  .footer-inform {
    margin: 0 auto;
  }
  .footer-inform__title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 2px;
  }
  .footer-inform__menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
  }
  .footer-contacts__item {
    align-items: center;
  }
  .footer-contacts__menu-item-texts {
    margin: 0;
  }
  .hidden1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-contacts__menu-item-svg,
  .footer-contacts__menu-item-texts {
    margin: 0;
  }
}
.catalogy {
  padding: 72px 0;
  background-color: rgb(254, 254, 255);
  overflow: hidden;
}
.catalogy__inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
}
.catalogy__title {
  font-size: 40px;
  line-height: 1.2;
  color: rgb(20, 20, 20);
}
.catalogy__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 55px;
  background-color: rgb(254, 254, 255);
  color: rgb(247, 117, 42);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.2;
  border-radius: 28px;
  border: 2px solid rgb(247, 117, 42);
  transition: all 0.3s ease;
}
.catalogy__btn:hover {
  background-color: rgb(247, 117, 42);
  color: rgb(254, 254, 255);
}

.catalogy__slide {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  transition: all 0.3s ease;
}
.catalogy__slide:hover {
  transform: translateY(-2px);
}
.catalogy__slide-link {
  display: block;
  width: 100%;
  padding: 8px;
  border-radius: 24px;
}
.catalogy__slide-link-img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.catalogy__slide-title {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
}

.catalogy-swiper {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 32px 24px;
}

.catalogy__item {
  grid-column: span 4;
}
.catalogy__item--big {
  grid-column: span 5;
}

@media (max-width: 834px) {
  .catalogy-swiper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 24px;
  }
  .catalogy__item {
    grid-column: span 1;
  }
  .catalogy__item--big {
    grid-column: span 1;
  }
}
@media (max-width: 555px) {
  .catalogy-swiper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 24px;
  }
}
@media (max-width: 375px) {
  .catalogy__item {
    width: 147px !important;
    height: 206px !important;
  }
}
.produced {
  padding-bottom: 72px;
  background-color: rgb(254, 254, 255);
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}
.produced__title {
  text-align: left;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
}
.produced__btn {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 18px 54px;
  border: none;
  outline: none;
  background-color: rgb(254, 254, 255);
  color: rgb(247, 117, 42);
  border: 2px solid rgb(247, 117, 42);
  border-radius: 38px;
}
.produced__btn-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.slider {
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.slider-track {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  animation: move 13s linear infinite;
}

.slide {
  width: 193px;
  height: 131px;
  overflow: hidden;
  margin-right: 24px;
}
.slide__img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media (max-width: 834px) {
  .produced__btn {
    margin: 0;
  }
}
@media (max-width: 375px) {
  .produced__title {
    font-size: 32px;
  }
}
.popular {
  padding-bottom: 72px;
  background-color: rgb(254, 254, 255);
}
.popular-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.popular__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: left;
}

.popular-filter {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.popular-list {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 16px;
}
.popular-list__item {
  list-style: none;
  padding: 14px 24px;
  background-color: rgb(254, 254, 255);
  color: rgb(247, 117, 42);
  border-radius: 28px;
  border: 2px solid rgb(247, 117, 42);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.popular-list__item:hover {
  background-color: rgb(247, 117, 42);
  color: rgb(254, 254, 255);
}

.blocks__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  max-width: 300px;
  width: 100%;
  border-radius: 16px;
  transition: all 0.3s ease;
}
.blocks__item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.06);
}
.blocks__item-img {
  width: 100%;
  height: auto;
  margin-bottom: 4px;
  position: relative;
}
.blocks__item-title {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}
.blocks__item-sum {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
}
.blocks__item-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 3%;
  width: 32px;
  height: 32px;
  background-color: #FCAB1E;
  opacity: 0.1;
  border-radius: 50%;
}
.blocks__item-svg svg {
  width: 15px;
  height: 15px;
  color: red;
  opacity: 1;
}

@media (max-width: 930px) {
  .popular-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 680px) {
  .popular-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .popular-list__item {
    font-size: 14px;
  }
}
.get-consul-w {
  padding-bottom: 72px;
  background-color: rgb(254, 254, 255);
}

.get-consul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  max-width: 628px;
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  border: 2px solid rgb(247, 117, 42);
}
.get-consul__title {
  max-width: 580px;
  width: 100%;
  font-weight: 700;
  line-height: 1.2;
  font-size: 40px;
  color: rgb(247, 117, 42);
}
.get-consul__details {
  display: flex;
  align-items: center;
  gap: 16px;
}
.get-consul__text {
  max-width: 486px;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.get-consul__inputs {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.get-consul__input {
  padding: 17px 0 17px 24px;
  max-width: 282px;
  width: 100%;
  border-radius: 28px;
  border: none;
  outline: none;
  background-color: rgba(254, 254, 255, 0.1);
  border: 2px solid rgb(223, 226, 229);
  font-size: 16px;
  line-height: 1.5;
}
.get-consul__btn {
  padding: 18px 0;
  border-radius: 28px;
  border: 2px solid rgb(247, 117, 42);
  background-color: rgb(247, 117, 42);
  color: rgb(254, 254, 255);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.get-consul__btn:hover {
  background-color: rgb(254, 254, 255);
  color: rgb(247, 117, 42);
}

@media (max-width: 375px) {
  .get-consul__details {
    flex-direction: row-reverse;
  }
  .get-consul__title {
    font-size: 27px;
  }
  .get-consul__img {
    width: 48px;
    height: 48px;
  }
  .get-consul__inputs {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */