* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "Nekst";
  src: url("/fonts/FONTSPRINGDEMO-NekstBlackRegular.woff2") format("woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Nekst";
  src: url("/fonts/FONTSPRINGDEMO-NekstBoldRegular.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Nekst";
  src: url("/fonts/FONTSPRINGDEMO-NekstMediumRegular.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Nekst";
  src: url("/fonts/FONTSPRINGDEMO-NekstRegular.woff2") format("woff2");
  font-weight: 400;
}
.cart span, .star span, .scales span {
  font-family: "Nekst", sans-serif;
  font-weight: 900;
}

.footer-contacts__social-texts-text, .footer-contacts__menu-item-text, .footer-contacts__menu-item-title, .header-scroll__menu-item-link, .number-details__texter, .number-details--scroll__texter, .number-details__text, .number-details--scroll__text, .number-details__title, .number-details--scroll__title, .catalog__cart-item-link, .catalog__item-link-title, .menu__item-link {
  font-family: "Nekst", sans-serif;
  font-weight: 500;
}

.footer-inform__menu-item-link, .footer-inform__title, .number-details__btn, .number-details--scroll__btn, .catalog__cart-list-type-title, .catalog__second-text, .catalog__title {
  font-family: "Nekst", sans-serif;
  font-weight: 700;
}

.footer-bottom__title, .footer-contacts__social-texts-title, .header__input, body {
  font-family: "Nekst", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: rgb(254, 254, 255);
  color: rgb(20, 20, 20);
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 10px;
}

.container-header {
  position: relative;
}

.open--menu {
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.open {
  opacity: 1 !important;
  visibility: visible !important;
}

.dropdown {
  position: relative;
}

.dropdown__list {
  display: none;
  position: absolute;
  z-index: 5;
}

.dropdown__list-item {
  list-style: none;
}

.dropdown__list--visible {
  display: block;
}

.dialog {
  position: relative;
}

.dialog__content {
  display: none;
  position: absolute;
  z-index: 5;
}

.dialog__content--visible {
  display: block;
}

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.active {
  color: rgb(247, 117, 42);
}

.scroll {
  display: none !important;
}

.scroll__input {
  margin-left: 0 !important;
}

.scroll__btns {
  margin-left: clamp(1rem, -2.375rem + 6vw, 2.5rem);
}

.shadow {
  box-shadow: 0px 0px 1px 0px rgba(97, 112, 125, 0.04), 0px 2px 6px 0px rgba(97, 112, 125, 0.04), 0px 10px 20px 0px rgba(97, 112, 125, 0.04);
}

.catalog-height {
  max-height: none !important;
}

.header {
  padding-top: 16px;
  background-color: rgb(254, 254, 255);
}
.header__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 16px 0;
}
.header__input {
  margin-left: clamp(1rem, -2.375rem + 6vw, 2.5rem);
  width: 100%;
  padding: 16px 0 16px 24px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 28px;
  border: 2px solid rgb(223, 226, 229);
  background-color: rgba(254, 254, 255, 0.1);
}
.header__details {
  display: flex;
  align-items: center;
  gap: clamp(0.5625rem, -0.1375rem + 1.4vw, 1rem);
}

.cart, .star, .scales {
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid rgb(247, 117, 42);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.cart svg path, .star svg path, .scales svg path {
  fill: rgb(247, 117, 42);
}
.cart span, .star span, .scales span {
  position: absolute;
  top: 65%;
  left: 65%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.4;
  color: rgb(254, 254, 255);
  background-color: rgb(247, 117, 42);
  border-radius: 50%;
  border: 2px solid rgb(247, 117, 42);
  transition: all 0.3s ease;
}

.cart:hover, .star:hover, .scales:hover {
  background-color: rgb(247, 117, 42);
}
.cart:hover svg path, .star:hover svg path, .scales:hover svg path {
  fill: #fff;
}
.cart:hover span, .star:hover span, .scales:hover span {
  color: rgb(247, 117, 42);
  background-color: rgb(254, 254, 255);
}

.header__bottom {
  background-color: rgba(97, 112, 125, 0.05);
  border-radius: 28px;
}
.header__bottom-details {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-right: 40px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: clamp(1.5625rem, -1.6174rem + 5.0676vw, 2.5rem);
}
.menu__item {
  list-style: none;
}
.menu__item-link {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  transition: all 0.3s ease;
}
.menu__item-link:hover {
  color: rgb(247, 117, 42);
}

.header__num, .header__num--scroll {
  margin-left: auto;
  position: relative;
  min-width: 200px;
}
.header__num-btn, .header__num--scroll-btn {
  display: flex;
  align-items: center;
  gap: 13px;
  border: none;
  background-color: transparent;
}
.header__num-btn-title, .header__num--scroll-btn-title {
  color: rgb(247, 117, 42);
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.header__num-btn--scroll {
  background: transparent;
  display: flex;
  align-items: center;
  gap: 8px;
}

.catalog__btn {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: rgb(247, 117, 42);
  border-radius: 28px;
  padding: 16px 40px;
  cursor: pointer;
}
.catalog__title {
  color: rgb(254, 254, 255);
  font-size: 16px;
  line-height: 1.2;
}

.catalog__dialog {
  position: fixed;
  left: 0;
  right: 0;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.catalog__inner {
  display: flex;
  gap: clamp(1.5625rem, -1.6174rem + 5.0676vw, 2.5rem);
}
.catalog__first {
  padding: 16px;
  background: rgba(97, 112, 125, 0.05);
  border-radius: 24px;
  min-width: 271px;
  max-height: 580px;
  overflow-y: auto;
}

.catalog__list {
  padding: 16px 0;
  border-bottom: 2px solid rgba(97, 112, 125, 0.05);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog__list:first-child {
  padding-top: 0;
}
.catalog__list:last-child {
  padding-bottom: 0;
}
.catalog__item {
  list-style: none;
}
.catalog__item:hover .catalog__item-link-title {
  color: rgb(247, 117, 42);
}
.catalog__item.active .catalog__item-link-title {
  color: rgb(247, 117, 42);
}
.catalog__item-link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.catalog__item-link-img {
  padding: 12px;
}
.catalog__item-link-title {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
}

.catalog__second {
  padding: 16px;
  background: rgba(97, 112, 125, 0.05);
  border-radius: 24px;
}
.catalog__second-title {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 16px;
  border-bottom: 2px solid rgba(223, 226, 229, 0.2);
}
.catalog__second-text {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.1em;
  color: rgb(20, 20, 20);
}
.catalog__carts {
  padding-top: 8px;
}
.catalog__cart {
  display: flex;
  gap: clamp(2.5rem, -24.6351rem + 43.2432vw, 10.5rem);
}
.catalog__cart-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog__cart-list-type {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 18px;
}
.catalog__cart-list-type-title {
  font-size: 24px;
  line-height: 1.2;
  color: rgb(97, 112, 125);
}
.catalog__cart-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.catalog__cart-item {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
.catalog__cart-item:hover .catalog__cart-item-link {
  color: rgb(247, 117, 42);
}
.catalog__cart-item-link {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  padding: 8px 0;
}

.catalog__dialog {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.number-details, .number-details--scroll {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: absolute;
  left: clamp(0rem, 14.8395rem - 23.6486vw, -4.375rem);
  top: 56px;
  z-index: 6;
  width: clamp(12.5rem, -9.1233rem + 34.4595vw, 18.875rem);
  background-color: rgba(97, 112, 125, 0.05);
  border-radius: 24px;
  padding: 16px;
}
.number-details__menu, .number-details--scroll__menu {
  padding-left: 17px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
}
.number-details__inner, .number-details--scroll__inner {
  list-style: none;
  display: flex;
  align-items: center;
  gap: clamp(1.0625rem, -2.3294rem + 5.4054vw, 2.0625rem);
}
.number-details__desc, .number-details--scroll__desc {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.number-details__title, .number-details--scroll__title {
  font-size: 14px;
  line-height: 1.1428571429;
  color: rgb(97, 112, 125);
}
.number-details__text, .number-details--scroll__text {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
}
.number-details__btn, .number-details--scroll__btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(247, 117, 42);
  color: rgb(254, 254, 255);
  background-color: rgb(247, 117, 42);
  padding: 19px 0;
  border-radius: 28px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 48px;
  transition: all 0.3s ease;
}
.number-details__btn:hover, .number-details--scroll__btn:hover {
  color: rgb(247, 117, 42);
  background-color: rgb(254, 254, 255);
}
.number-details__network, .number-details--scroll__network {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 16px;
}
.number-details__item, .number-details--scroll__item {
  list-style: none;
}
.number-details__texter, .number-details--scroll__texter {
  text-align: center;
  font-size: 14px;
  line-height: 1.1428571429;
  color: rgb(97, 112, 125);
}

.header__bottom {
  display: block;
}

.header-scroll__btns {
  display: flex;
  align-items: center;
  gap: 16px;
}
.header-scroll__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 56px;
  min-width: 56px;
  border-radius: 50%;
  border: 2px solid rgb(247, 117, 42);
  background-color: transparent;
  color: rgb(247, 117, 42);
  transition: all 0.3s ease;
}
.header-scroll__btn span, .header-scroll__btn svg {
  fill: currentColor;
}
.header-scroll__btn:hover {
  background-color: rgb(247, 117, 42);
  color: rgb(254, 254, 255);
}
.header-scroll__btn-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.header-scroll__btn-menu span {
  display: block;
  width: 14px;
  height: 2px;
  background-color: rgb(247, 117, 42);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.header-scroll__btn-menu:hover span {
  background-color: rgb(254, 254, 255);
}

.header-scroll__btns {
  position: relative;
}

.header-scroll__menu {
  position: absolute;
  top: 120%;
  left: 0;
  min-width: 184px;
  padding: 16px;
  background-color: rgba(97, 112, 125, 0.05);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.header-scroll__menu-item {
  list-style: none;
}
.header-scroll__menu-item-link {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(20, 20, 20);
  transition: all 0.3s ease;
}
.header-scroll__menu-item-link:hover {
  color: rgb(247, 117, 42);
}

.footer {
  padding: 48px 0;
  background-color: rgb(20, 20, 20);
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(254, 254, 255, 0.25);
}
.footer-inform {
  max-width: 411px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.footer-inform__title {
  font-size: 22px;
  line-height: 1.1818181818;
  letter-spacing: 0.3333333333em;
  color: rgb(254, 254, 255);
}
.footer-inform__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.footer-inform__menu-item {
  list-style: none;
  width: 100%;
}
.footer-inform__menu-item-link {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(254, 254, 255);
}
.footer-contacts__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-contacts__item-title {
  padding-bottom: 8px;
}
.footer-contacts__menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.footer-contacts__menu-item {
  list-style: none;
}
.footer-contacts__menu-item-link {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer-contacts__menu-item-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: rgba(254, 254, 255, 0.1);
  border-radius: 50%;
  color: rgb(254, 254, 255);
}
.footer-contacts__menu-item-svg svg {
  fill: currentColor;
}
.footer-contacts__menu-item-texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-contacts__menu-item-title {
  font-size: 14px;
  line-height: 1.1428571429;
  color: rgba(254, 254, 255, 0.6);
}
.footer-contacts__menu-item-text {
  max-width: 346px;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(254, 254, 255);
}
.footer-contacts__map {
  width: 100%;
  height: auto;
}
.footer-contacts__map-img {
  width: 411px;
  height: 302px;
}
.footer-contacts__social {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-contacts__social-items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}
.footer-contacts__social-texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}
.footer-contacts__social-texts-title {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(254, 254, 255);
}
.footer-contacts__social-texts-text {
  max-width: 399px;
  font-size: 14px;
  line-height: 1.1428571429;
  color: rgba(254, 254, 255, 0.6);
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom__title {
  font-size: 16px;
  line-height: 1.5;
  color: rgb(254, 254, 255);
}

.social {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}/*# sourceMappingURL=main.css.map */