.catalogy{
    padding: 72px 0;
    background-color: $bg-color;
    overflow: hidden;
    &__inner{
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: flex-start;
    }
    &__title{
        @extend %nekst-700;
        font-size: 40px;
        line-height: 1.2;
        color: $main-color;
    }
    &__btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 55px;
        background-color: $bg-color;
        color: $accent-color;
        text-transform: uppercase;
        @extend %nekst-700;
        font-size: 16px;
        line-height: 1.2;
        border-radius: 28px;
        border: 2px solid $accent-color;
        transition: all 0.3s ease;
        &:hover{
            background-color: $accent-color;
            color: $bg-color;
        }
    }
}

.catalogy__slide{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    transition: all 0.3s ease;
    &:hover{
        transform: translateY(-2px);
    }
    &-link{
        display: block;
        width: 100%;
        padding: 8px;
        border-radius: 24px;
        &-img{
            width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
    &-title{
        @extend %nekst-500;
        font-size: 16px;
        line-height: 1.5;
        color: $main-color;
    }
}

.catalogy-swiper{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 32px 24px;
}

.catalogy__item{
    grid-column: span 4;
    &--big{
        grid-column: span 5;
    }
}


@media (max-width: 834px){
    .catalogy-swiper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px 24px;
    }
    
    .catalogy__item{
        grid-column: span 1;
        &--big{
            grid-column: span 1;
        }
    }

}

@media (max-width: 555px){
    .catalogy-swiper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px 24px;
    }
}

@media (max-width: 375px){
    .catalogy__item{
        width: 147px !important;
        height: 206px !important;
    }
}
