.header{
    padding-top: 16px;
    background-color: $bg-color;
    &__inner{
        display: flex;
        flex-direction: column;
        gap: 16px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
    }
    &__top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
        padding: 16px 0;
    }
    &__input{
        margin-left: clamp(1rem, -2.375rem + 6vw, 2.5rem);
        width: 100%;
        padding: 16px 0 16px 24px;
        @extend %nekst-400;
        font-size: 16px;
        line-height: calc(24 / 16);
        border-radius: 28px;
        border: 2px solid rgb(223, 226, 229);
        background-color: rgba(254, 254, 255, 0.1);
    }
    &__details{
        display: flex;
        align-items: center;
        gap: clamp(0.5625rem, -0.1375rem + 1.4vw, 1rem);
    }
}


.cart, .star, .scales {
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 2px solid $accent-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    svg path{
        fill: $accent-color;
    }
    
    & span{
        position: absolute;
        top: 65%;
        left: 65%;
        width: 22px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend %nekst-900;
        font-size: 12px;
        line-height: 1.4;
        color: $bg-color;
        background-color: $accent-color;
        border-radius: 50%;
        border: 2px solid $accent-color;
        transition: all 0.3s ease;
    }
}

.cart, .star, .scales{
    &:hover{
        background-color: $accent-color;
        svg path{
            fill: #fff;
        }
        span{
            color: $accent-color;
            background-color: $bg-color;
        }
    }
}




.header{
    &__bottom{
        background-color: rgba(97, 112, 125, 0.05);
        border-radius: 28px;
        &-details{
            display: flex;
            align-items: center;
            gap: 40px;
            padding-right: 40px;
        }
    }
}



.menu{
    &__list{
        display: flex;
        align-items: center;
        gap: clamp(1.5625rem, -1.6174rem + 5.0676vw, 2.5rem);
    }
    &__item{
        list-style: none;
        &-link{
            @extend %nekst-500;
            font-size: 16px;
            line-height: calc(24 / 16);
            color: $main-color;
            transition: all 0.3s ease;
            &:hover{
                color: $accent-color;
            }
        }
    }
}

.header__num, .header__num--scroll{
    margin-left: auto;
    position: relative;
    min-width: 200px;
    &-btn{
        display: flex;
        align-items: center;
        gap: 13px;
        border: none;
        background-color: transparent;
        &-title{
            color: $accent-color;
            @extend %nekst-700;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 0.1em;
        }
    }
}

.header__num-btn--scroll{
    background: transparent;
    display: flex;
    align-items: center;
    gap: 8px;
}


.catalog{
    &__btn{
        display: flex;
        align-items: center;
        gap: 12px;
        background-color: $accent-color;
        border-radius: 28px;
        padding: 16px 40px;
        cursor: pointer;
    }
    &__title{
        @extend %nekst-700;
        color: $bg-color;
        font-size: 16px;
        line-height: 1.2;
    }
}


.catalog{
    &__dialog{
        position: fixed;
        left: 0;
        // top: 168px;
        right: 0;
        max-width: 1300px;
        width: 100%;
        margin: 0 auto;
        
    }
    &__inner{
        display: flex;
        gap: clamp(1.5625rem, -1.6174rem + 5.0676vw, 2.5rem);
    }
    &__first{
        padding: 16px;
        background: rgba(97, 112, 125, 0.05);
        border-radius: 24px;
        min-width: 271px;
        max-height: 580px;
        overflow-y: auto;
    }
}


.catalog{
    &__list {
        padding: 16px 0;
        border-bottom: 2px solid rgba(97, 112, 125, 0.05);
        display: flex;
        flex-direction: column;
        gap: 8px;    
        &:first-child {
            padding-top:0;
        }    
        &:last-child {
            padding-bottom: 0;  
        }
        
    }
    &__item{
        list-style: none;
        &:hover &-link-title{
            color: $accent-color;
        }
        &.active{
            .catalog__item-link-title {
                color: $accent-color;
            }
        }
        &-link{
            display: flex;
            align-items: center;
            gap: 16px;
            &-img{
                padding: 12px;
            }
            &-title{
                @extend %nekst-500;
                font-size: 16px;
                line-height: 1.5;
                color: $main-color;
            }
            
        }
    }
}

.catalog{
    &__second{
        padding: 16px;
        background: rgba(97, 112, 125, 0.05);
        border-radius: 24px;
            &-title{
            display: flex;
            align-items: center;
            gap: 8px;
            padding-bottom: 16px;
            border-bottom: 2px solid rgb(223, 226, 229, 0.2);
        }
        &-text{
            text-transform: uppercase;
            @extend %nekst-700;
            font-size: 16px;
            line-height: 1.6;
            letter-spacing: calc(1em / 10);
            color: $main-color;
        }
    }
    &__carts{
        padding-top: 8px;
    }
    &__cart{
        display: flex;
        gap: clamp(2.5rem, -24.6351rem + 43.2432vw, 10.5rem);
        &-list{
            display: flex;
            flex-direction: column;
            gap: 8px;
            &-type{
                display: flex;
                align-items: center;
                gap: 32px;
                padding: 18px;
                &-title{
                    @extend %nekst-700;
                    font-size: 24px;
                    line-height: 1.2;
                    color: rgb(97, 112, 125);
                }
            }
        }
        &-items{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
        &-item{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 32px;
            &:hover &-link{
                color: $accent-color;
            }
            &-link{
                @extend %nekst-500;
                font-size: 16px;
                line-height: 1.5;
                color: $main-color;
                padding: 8px 0;
            }
        }
    }
}

.catalog__dialog{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.number-details, .number-details--scroll{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    left: clamp(0rem, 14.8395rem + -23.6486vw, -4.375rem);
    top: 56px;
    z-index: 6;
    width: clamp(12.5rem, -9.1233rem + 34.4595vw, 18.875rem);
    background-color: rgba(97, 112, 125, 0.05);
    border-radius: 24px;
    padding: 16px;
    &__menu{
        padding-left: 17px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-bottom: 30px;
    }
    &__inner{
        list-style: none;
        display: flex;
        align-items: center;
        gap: clamp(1.0625rem, -2.3294rem + 5.4054vw, 2.0625rem);
    }
    &__desc{
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    &__title{
        @extend %nekst-500;
        font-size: 14px;
        line-height: calc(16 / 14);
        color: rgb(97, 112, 125);
    }
    &__text{
        @extend %nekst-500;
        font-size: 16px;
        line-height: 1.5;
        color: $main-color;
    }
    &__btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $accent-color;
        color: $bg-color;
        background-color: $accent-color;
        padding: 19px 0;
        border-radius: 28px;
        @extend %nekst-700;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: calc(1em / 10);
        text-transform: uppercase;
        margin-bottom: 48px;
        transition: all 0.3s ease;
        &:hover{
            color: $accent-color;
            background-color: $bg-color;
        }
    }
    &__network{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        margin-bottom: 16px;
    }
    &__item{
        list-style: none;
    }
    &__texter{
        text-align: center;
        @extend %nekst-500;
        font-size: 14px;
        line-height: calc(16 / 14);
        color: rgb(97, 112, 125);
    }
}


.header__bottom{
    // visibility: visible;
    // opacity: 1;
    // transition: opacity 0.3s ease, visibility 0.3s ease;
    display: block;
}

.header-scroll{
    &__btns{
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 56px;
        min-width: 56px;
        border-radius: 50%;
        border: 2px solid $accent-color;
        background-color: transparent;
        color: $accent-color;
        transition: all 0.3s ease;
        span, svg{
            fill: currentColor;
        }
        &:hover{
            background-color: $accent-color;
            color: $bg-color;
        }

        &-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 4px;
            span{
                display: block;
                width: 14px;
                height: 2px;
                background-color: $accent-color;
                border-radius: 2px;
                transition: all 0.3s ease;
            }
            &:hover{
                span{
                    background-color: $bg-color;
                }
            }
        }
    }
}

.header-scroll__btns{
    position: relative;
}

.header-scroll__menu{
    position: absolute;
    top: 120%;
    left: 0;
    min-width: 184px;
    padding: 16px;
    background-color: rgba(97, 112, 125, 0.05);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-item{
        list-style: none;
        &-link{
            @extend %nekst-500;
            font-size: 16px;
            line-height: 1.5;
            color: $main-color;
            transition: all 0.3s ease;
            &:hover{
                color: $accent-color;
            }
        }
    }
}