@font-face {
    font-family: 'Nekst';
    src: url('/fonts/Nekst-Black.woff2') format('woff2');
    font-weight: 900;
}
@font-face {
    font-family: 'Nekst';
    src: url('/fonts/Nekst-Bold.woff2') format('woff2');
    font-weight: 700;
}
@font-face {
    font-family: 'Nekst';
    src: url('/fonts/Nekst-Medium.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'Nekst';
    src: url('/fonts/Nekst-Regular.woff2') format('woff2');
    font-weight: 400;
}


