.open--menu{
    overflow: hidden;
}

.no-scroll {
    overflow: hidden;
}

.open{
    opacity: 1 !important;
    visibility: visible !important;
}

.dropdown{
    position: relative;
}

.dropdown__list{
    display: none;
    position: absolute;
    z-index: 5;
}

.dropdown__list-item{
    list-style: none;
}

.dropdown__list--visible{
    display: block;
}



.dialog{
    position: relative;
}

.dialog__content{
    display: none;
    position: absolute;
    z-index: 5;
}

.dialog__content--visible{
    display: block;
}

.catalog__second.active {
    display: block;
}

.hidden {
    display: none;  
}

.active{
    color: $accent-color;
}