//COLORS
$bg-color:rgb(254, 254, 255);
$main-color:rgb(20, 20, 20);
$accent-color:rgb(247, 117, 42);
$text-color:rgb(97, 112, 125);
$bg-gray: #F6F7F8;

//CONTAINER
$padding-container:0px 10px;
$maxWidth-container:1300px;


%nekst-900{
    font-family: 'Nekst';
    font-weight: 900;
}
%nekst-500{
    font-family: 'Nekst';
    font-weight: 500;
}
%nekst-700{
    font-family: 'Nekst';
    font-weight: 700;
}
%nekst-400{
    font-family: 'Nekst';
    font-weight: 400;
}


