//COLORS
$bg-color:rgb(254, 254, 255);
$main-color:rgb(20, 20, 20);
$accent-color:rgb(247, 117, 42);
$text-color:rgb(97, 112, 125);

//CONTAINER
$padding-container:0px 10px;
$maxWidth-container:1300px;



